@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Guatemala-inspired: azul institucional + neutros */
    --background: 0 0% 99%;
    --foreground: 210 18% 14%;
    --card: 0 0% 100%;
    --card-foreground: 210 18% 14%;
    --primary: 210 72% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 18% 96%;
    --secondary-foreground: 210 18% 20%;
    --muted: 210 18% 96%;
    --muted-foreground: 210 12% 48%;
    --accent: 210 25% 95%;
    --accent-foreground: 210 18% 20%;
    --border: 210 18% 91%;
    --input: 210 18% 91%;
    --ring: 210 72% 42%;
    --radius: 0.375rem;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
  }
  .dark {
    --background: 210 18% 8%;
    --foreground: 210 15% 96%;
    --card: 210 18% 10%;
    --card-foreground: 210 15% 96%;
    --primary: 210 65% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 18% 16%;
    --secondary-foreground: 210 15% 96%;
    --muted: 210 18% 16%;
    --muted-foreground: 210 12% 58%;
    --accent: 210 18% 18%;
    --accent-foreground: 210 15% 96%;
    --border: 210 18% 18%;
    --input: 210 18% 18%;
    --ring: 210 65% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* shadcn-style focus ring */
@layer base {
  *:focus-visible {
    @apply outline-none ring-2 ring-ring ring-offset-2 ring-offset-background;
  }
}
